{% extends "layout.html" %}

{% block content %}
  <h3>Add a Page</h3>
  <hr>
  <form method="POST" action="/wiki/">
    
    <div class='form-group'>
			<label for='title' class='col-sm-2 control-label'> Author Name</label>
			<input class='form-control' name='authorName' placeholder='Enter your name'> </input>
		</div>
    
    <div class='form-group'>
			<label for='title' class='col-sm-2 control-label'> Author Email</label>
			<input class='form-control' name='authorEmail' placeholder='Enter your email address'> </input>
		</div>
    
		<div class="form-group">
      <label for="title" class="col-sm-2 control-label">Page Title</label>
        <input name="title" type="text" class="form-control" placeholder='Enter page title'> </input>
    </div>
    
    <div class='form-group'>
			<label for='title' class='col-sm-2 control-label'> Content </label>
			<textarea class='form-control' name='pageContent' placeholder='Add page content here'> </textarea>
		</div>
    
    <div class='form-group'>
			<label for='title' class='col-sm-2 control-label'> Content </label>
			<input class='form-control' name='pageStatus' placeholder='page status'> </input>
		</div>

    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">submit</button>
    </div>
  
  </form>
{% endblock %}
